table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table th {
  background-color: lightcyan;
}

td,
th {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
